*{
    margin:0;
    box-sizing: border-box;
}

body, html{
    height:100%;
    background-color: white;
}

body{
      font-family: Arial;
}
.gallerycontainer::-webkit-scrollbar {
    display: none;
  }

nav{
    display: flex;
    /* position: sticky and top:0; works for making the navbar 
    "fixed" and keep the page flow correct. If you use position: fixed
    the flow of the page breaks and proceeding elements will overlap
    the navbar*/
    position:sticky; 
    top:0;
    min-width: 100%;
    background-color: rgb(20, 19, 18);
    justify-content: center;
}

nav a{
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-right:1px solid white;
}

.backgroundImg {
    background-image: url(images/Pic_Alaska.jpg);
    min-height: 80%;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.titlecontainer{
    display:flex;
    flex-wrap:wrap;
    position:sticky;
}

.titlecontainer .Title{
    color: white;
    text-shadow:0 0 5px black;
    flex: 100%;
    padding: 10%;
    padding-bottom: 2%;
    font-size: 26px;
    text-align: right;
}



.row{
    display: flex;
    flex-wrap:wrap;
}
 
.aboutme{
    flex: 25%;
    padding:2%;
    color:white;
    font-size: 20px;
    text-align: left;
    background-color: black;
}

.aboutme h6{
    margin-top: 10px;
}

.gallerycontainer{
    flex:75%; 
    display: flex;
    flex-wrap:wrap;
    height:600px;
    overflow:scroll;
    overflow-x:hidden;
    padding: 2%;
    background-color: black;
}



.gallerycolumns {
    flex:33%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
}



.gallerycolumns img{
    width: 100%;
    vertical-align: middle;
    padding: 4px;
}



@media screen and (max-width:700px) {
    nav, .row{
        flex-direction: column;
    }

    nav a{
        border-bottom:1px solid white;
    }

    .backgroundImg{
        background-image: url(images/Pic_Canada.jpg);
        background-position: center;
    }

    .backgroundImg .Title{
        color:black;
        font-size: 26px;
        padding:1%;
        text-align: center;
        text-shadow:0 0 5px white;
    }

    .aboutme{
        font-size: 20px;
        flex:100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}