*{
    margin:0;
    box-sizing: border-box;
}

body, html{
    height:100%;
    background-color: white;
}

body{
      font-family: Arial;
}


nav{
    display: flex;
    /* position: sticky and top:0; works for making the navbar 
    "fixed" and keep the page flow correct. If you use position: fixed
    the flow of the page breaks and proceeding elements will overlap
    the navbar*/
    position:sticky; 
    top:0;
    min-width: 100%;
    background-color: rgb(20, 19, 18);
    justify-content: center;
}

nav a{
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-right:1px solid white;
}

.backgroundImg {
    background-image: url(images/Pic_Alaska.jpg);
    min-height: 80%; 
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.titlecontainer{
    display:flex;
    flex-wrap:wrap;
}

.titlecontainer .Title{
    color: white;
    text-shadow:0 0 5px black;
    flex: 100%;
    padding: 10%;
    padding-bottom: 2%;
    font-size: 26px;
    text-align: right;
    
}

.row{
    display: flex;
    flex-wrap:wrap;
}

.aboutme{
    flex: 50%;
    padding:2%;
    color: black;
    font-size: 26px;
    text-align: center;
}

.gallerycontainer{
    flex:50%; 
    padding: 2%;
    background-color: rgba(35, 57, 99, 0.694);

}



@media screen and (max-width:700px) {
    nav, .row{
        flex-direction: column;
    }

    nav a{
        border-bottom:1px solid white;
    }

    .backgroundImg{
        background-image: url(images/Pic_Canada.jpg);
        background-position: center;
    }

    .backgroundImg .Title{
        color:black;
        font-size: 26px;
        padding:1%;
        text-align: center;
        text-shadow:0 0 5px white;
    }
}